<nav class="navbar navbar-light bg-secondary justify-content-between">
  <a >
    <h5>  <img src="/assets/logo.jpg" width="80" height="80" class="d-inline-block align-top" alt="">
      </h5>
</a>
  <a class="navbar-brand">TAPICERIA AUTOLUJOS ECUADOR</a>

  <a class="btn btn-outline-dark my-2 my-sm-0 "   (Click)="Ingresar()"   >Inicio</a>
  <a class="btn btn-outline-dark my-2 my-sm-0"  routerLink="auth/register">Nosotros</a>
  <a class=" btn btn-outline-dark my-2 my-sm-0 nav-item nav-link" routerLink='/login'  >Mi Cuenta</a>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Productos" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>
